*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-list{
    width: 600px; 
    /* background-color: red; */
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ind-item{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    border-radius: 8px;
    line-height: 1.5em; 
}

.ind-item > img {
    width:  200px;
    height: 150px;
    object-fit: cover;
}

.ind-item > p, h5{
    padding: 0 5px;
}

.ind-item:hover{
    background-color: #f7f2ef;
    cursor: pointer;
}