*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    background-color: #FFE6CE;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 80px;
    border-radius: 20px;
}

.form-group{
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.form-group h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-inner{
    width: 100%;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.login-input{
    width: 100%;
    padding: 10px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

button.login-input{
    background-color: #FF7A00;
    border-radius: 30px;
    margin: 10px;
    font-size: 16px;
    color:#FFFFFF
}

button.login-input:hover {
    cursor: pointer;
    background-color: #f79b46;
    
}

.extra-details{
    display: flex;
    justify-content: space-around;
    margin: 2px;
}