.header-container{
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-container > img {
    width: 170px;
    margin-right: auto;
    margin-left: 10px;
}
.icon{
    margin-left: auto;
    margin-right: 40px;
}
.search-container{
    background-color: #F8F5F5;
    width: 60%;
    height: 80%;
    margin-top: 2px;
    border-radius: 30px;
    position: relative;
}

.search-icon{
    position: absolute;
    top: 20%;
    left: 5px;
}
.search-input{
    font-size: 16px;
    width: 95%;
    height: 80%;
    background: none;
    outline: none;
    border: none;
    appearance: none;
    position: absolute;
    top: 10%;
    right: -7px;
}

.nav-container {
    background-color: #FF7A00;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.list-icon{
    margin-right: auto;
    margin-left: 30px;
}

.nav-bar-group{
    display: flex;
    font-size: small;
    justify-content: center;
    margin-right: auto;
}

.nav-link {
    border-radius: 20px;
    margin: 8px;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    background-color: #F8F5F5;
    color: #000;
    font-weight: 600;
}

.login-btn{
    margin-bottom: 5px;
    cursor: pointer;
}