*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: #FF7A00;
    color: #fff;
    line-height: 1.4em;
}
.cols-group{
    display: flex;
    justify-content: space-evenly;
}

.col{
    margin: 20px;
    padding: 5px;
}

.col > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    font-size: 14px;
}

.col-title{
    font-weight: 800;
    padding-top: 5px;
    padding-bottom: 20px;
}

.end-footer{
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
}