/*{
    
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

/* Rectangle 3 */

/*.form {
    position: absolute;
    width: 969px;
    height: 594px;
    left: 271px;
    top: 231px;

    background: rgba(255, 122, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*/
/*
h3{
    
    position: absolute;
    width: 189px;
    height: 54px;
    left: 669px;
    top: 292px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;

    color: #000000;
}
.form-inner {

    position: absolute;
    width: 484px;
    height: 50px;
    left: 513px;
    top: 411px;

    background: #FFFFFF;
    border-radius: 30px;

   
}
.submit-btn {

    position: absolute;
    width: 484px;
    height: 50px;
    left: 513px;
    top: 650px;

    background: #FF7A00;
    border-radius: 30px;
} 


input, button {
    appearance: none;
    outline: none;
    background: none;
}

form {
    display: block;
    margin: 100px;
    padding: 10px 20px;
    height: 50vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.form-group {
    background-color: white;
    align-items: center;
    justify-content: center;
}*/