*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}


input, button {
    appearance: none;
    outline: none;
    background: none;
    border: none;
    width: 100%;
}

form {
    background-color: red;
    display: block;
    margin: 100px;
    padding: 10px 20px;
    height: 50vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.form-group {
    background-color: white;
    align-items: center;
    justify-content: center;
}